#enterButton {
	-fx-background-color: #003465;
	-fx-background-radius: 7.5px;
}

#enterButton:hover {
	-fx-background-color: #31495f;
}

#backButton {
	-fx-background-color: #005db4;
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
	-fx-border-color: white;
}

#backButton:hover {
	-fx-background-color: #2a7cc9;
}
